* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
}

nav {
    background: #1C1C1C !important;
    height: 60px !important;
    display: flex !important;    
    align-items: center !important;
}

.text-header {
    font-size: 25px !important;
    color: #CFCFCF !important;
    font-family: 'Roboto Mono', monospace !important;
    text-decoration: none !important;
    list-style: none !important; 
    font-weight: bold !important;
}

.text-header:hover {
    text-shadow: 0 0 2px #fff;
}

.text-link {
    font-size: 15px;
    color: #CFCFCF !important;
    font-family: 'Roboto Mono', monospace !important;
    text-decoration: none !important;
    list-style: none !important;  
}

.text-link:hover {
    text-shadow: 0 0 1px #fff;
}
